<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Login hello</h1>
<h2 th:if="${not #strings.isEmpty(message)}">
    <span th:text="'Message: ' + ${message}"></span>
</h2>
<form name='f' action="login" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>